<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		 <!--  <package name="com.sm.entity"/> -->
		 <typeAlias alias="Department" type="com.sm.entity.Department"/>
		 <typeAlias alias="Product" type="com.sm.entity.Product"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/sm/mapper/ProductMapper.xml"/> 
		<mapper resource="com/sm/mapper/DepartmentMapper.xml"/> 
	</mappers>
</configuration>  